# ignore ALL files in directory UnrealMarketPlaceContent
/Content/UnrealMarketPlaceContent/

# ignore ALL files in directory named Saved
/Saved/

# ignore ALL files in directory named Intermediate
/Intermediate/

# ignore ALL .log files
*.log
*.log
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
